.btn {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    background-color: $colorTwo;
    border-radius: 15px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s;
    &:hover {
        background-color: #6e443a;
        box-shadow: 0 0 15px #6e443a;;
    }
    &__products {
        font-size: 20px;
        line-height: 22px;
    }
}